<!-- templates/index.html -->

{% include "base.html" %}

{% block content %}
<h1 class="title">
  Dog Tracker App
</h1>
<h2 class="subtitle">
  Easily Track your Dog Anywhere
</h2>

<div class="img-flexbox">
  <div class="img-area">
    <img width="450px" src="https://images.unsplash.com/photo-1588421357574-87938a86fa28?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80" class="grid"/>
    <img width="450px" src="https://images.unsplash.com/photo-1588421357574-87938a86fa28?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80" class="grid"/>
  </div>
</div>
{% endblock %}
