.flex-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{

    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}
nav a:hover{
    background-color: #3f5f77;
}
.logo a{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px; 
    margin-left: 20px;
}



.field, .titleS, .titleL{
    padding: 5px;
    display: table;
    margin: auto;
}
.myBtn {
    padding: 5px;
    display: table;
    margin: auto;
    width: 100px;
      
}
.myBtn:hover{

    background-color: #2F4454;
    color: white;
}
.formtxt{

    width: 350px;
    height: 40px;
}
html{

    background-color: #2F4454;
}




.loginform, .signform{
    padding: 15px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgrey;
    
    
}
.notification{

    background-color:orangered ;
    text-align: center;
    border:black;
    border-style:dashed;
    border-width: 1.5px;
}
.title, .subtitle{

    text-align: center  ;
    color: white
}



.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


 .grid{
     padding: 0 20px 20px;
 }





