
.field, .titleS, .titleL{
    padding: 5px;
    display: table;
    margin: auto;
    color: #241e21;
}
.myBtn {
    padding: 5px;
    display: table;
    margin: auto;
    width: 120px;
    
      
}
.myBtn:hover{

    background-color: #a6967d;
    color: white;
}
.editButton{
    margin: auto;
}
.formtxt{

    width: 425px;
    height: 50px;
}

.formtxtE{

    width: 425px;
    height: 50px;
}

body{

    background-color:#ebdfce;
    

}

.introHome, .profile_welcome{
	padding: 15px;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}
.loginform, .signform{
    padding: 15px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #908168;
    border: 5px solid;
    border-color: #241e21;
    
    
}
.notification{

    background-color:orangered ;
    text-align: center;
    border:black;
    border-style:dashed;
    border-width: 1.5px;
}
.title, .subtitle{
    text-align: center  ;
    color: #241e21;
}



.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}


 .image{
     padding: 0 20px 20px;
 }

 .index{
     margin-top: 175px;
 }

 .titleP{

    margin-top: 175px;
    text-align:center;
 }
 .dropdown{
     float: left;
    
 }



 
  .editForm{

    padding: 15px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: -35%;
    transform: translate(-50%, -50%);
    

  }
  .editButton{
     height: 30px;
     width: 75px;
     
    
     background-color:#a6967d;
  }

  .editLabel, .formtxtE{
    display: flex;
    flex-direction: row;
    
  }
  .editLabel{
      font-size: 20px;
  }

  .txtPadding{

    padding: 5px;
  }